*,
*::after,
*::before{
    box-sizing: border-box;
}

@font-face {
	font-family: 'Niagato';
	src: url('fonts/Niagato.ttf') format('truetype')
}

@font-face {
	font-family: 'mangati';
	src: url('fonts/mangati.ttf') format('truetype')
}

@font-face {
	font-family: 'CatCafe';
	src: url('fonts/CatCafe.ttf') format('truetype')
}


@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
/* Police de texte : Italiana */
/* font-family: 'Italiana', serif; */
body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
}

body{
    background-color: rgb(15, 15, 15);
}

.text-header{
    text-align: center;
    color: aliceblue;
    font-family: 'mangati';
}

.pied-de-page{
    position: absolute;
    left: 25%;
    top: 1100px;
    width: fit-content;
    height: 250px;
    display: grid;
    margin-left: 2%;
    grid-template-columns: repeat(4, 1fr);
    gap: 200px;
    grid-auto-rows: minmax(20px, 500px);

}

.colonne-pied-de-page{
    line-height: 40px;
    text-align: left;
    display: block;
}

.colonne-pied-de-page a{
    cursor: pointer;
    color: rgba(212, 212, 212, 0.87);
}

.colonne-pied-de-page a:hover{
    text-decoration: underline;
}

.premier-lien-colonne{
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
#quatrieme-colonne{
    margin-left: 10px;
}
#quatrieme-colonne img{
    cursor: pointer;
}

.footer{
    height: 20px;
    width: 99%;
    background-color: rgba(66, 66, 66, 0.253);
    position: absolute;
    top: 1400px;

}
.marque-depose{
    color: aliceblue;
    margin-top: 2px;
    margin-left: 5px;
}





.nav{
    position: relative;
    margin-left: 12.3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(10px, auto);
}

.bouton-nav {
    margin-top: 2px;
    width: 150px;
    height: fit-content;
    border-radius: 21px;
    text-align: center;
}


.bouton-nav:hover {
    cursor: pointer;
}

.underline-bouton-nav img{
    padding-top: 2px;
    margin-left: -40px;
    width: 150px;
}

.bouton-nav a{
    margin-top: 5px;
    font-family: 'CatCafe';
    color: rgb(199, 200, 211);
    font-size: 1.7em;
    text-decoration: none;
}

#line {
    position: sticky;
    margin: auto;
    width: 80%;
    height: 1px;
    background-color: white;
}
