@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');



body{
    background-color: rgb(13, 12, 14);
}

.text-header{
    text-align: center;
    color: rgb(199, 200, 211);
    font-family: 'Labrada', serif;
}

#text-intro-explicatif{
    text-align: center;
    color: rgb(199, 200, 211);
    font-family: 'Labrada', serif;
}